:root {
  --first-color: #ffffff;
  --second-color: #000000;
  --heading-color: #147efb;
  --background-color: #282c34;
  --night-light-dark-color: #2b3342;
  --border-color: #e6e6e6;
}

.contact {
  background-color: var(--first-color);
  padding: 5rem 0;
  transition: all 0.4s cubic-bezier(0.69, 0.12, 0.19, 0.72);
}

.contact-content {
  margin: 0 auto;
  display: grid;
  border-radius: 0.3rem;
  grid-template-columns: 1fr;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s cubic-bezier(0.69, 0.12, 0.19, 0.72);
}

.contact-info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 9rem;
  background-image: url(../../images/contact-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
  margin-bottom: 3rem;
  border-top-right-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
  transition: all 0.4s cubic-bezier(0.69, 0.12, 0.19, 0.72);
}

.contact-info::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  background: rgba(0, 0, 0, 0.4);
  border-top-right-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
}

.social-media-stack {
  padding-bottom: 1rem;
  display: flex;
  gap: 2rem;
  margin: 0 auto;
}

.social-media-stack a {
  transition: all 0.4s cubic-bezier(0.69, 0.12, 0.19, 0.72);
}

.social-media-stack i {
  font-size: 2rem;
  color: var(--first-color);
  transition: all 0.4s cubic-bezier(0.69, 0.12, 0.19, 0.72);
}

.social-media-stack a:hover {
  transform: translateY(-1rem);
}

.contact-form {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  transition: all 0.4s cubic-bezier(0.69, 0.12, 0.19, 0.72);
}

.contact-form p {
  color: var(--heading-color);
  font-size: 1.8rem;
  font-weight: 600;
  transition: all 0.4s cubic-bezier(0.69, 0.12, 0.19, 0.72);
}

#form {
  gap: 1rem;
  width: 100%;
  margin: 2rem auto 0;
  display: flex;
  flex-direction: column;
  transition: all 0.4s cubic-bezier(0.69, 0.12, 0.19, 0.72);
}

.contact-form .input-box {
  max-width: 100%;
  position: relative;
}

.contact-form span {
  font-size: 14px;
}

.contact .contact-form .input-box input {
  width: 100%;
  height: 3rem;
  padding: 0 3rem;
  font-size: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  background: transparent;
  transition: all 0.4s cubic-bezier(0.69, 0.12, 0.19, 0.72);
}

.contact-form .input-box textarea {
  width: 100%;
  height: 10rem;
  padding: 1rem 3rem;
  font-size: 1rem;
  background: transparent;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  transition: all 0.4s cubic-bezier(0.69, 0.12, 0.19, 0.72);
}

.contact-form label i {
  font-size: 1rem;
  transition: all 0.4s cubic-bezier(0.69, 0.12, 0.19, 0.72);
}

@media (max-width: 380px) {
  .social-media-stack i {
    font-size: 1.1rem;
  }
}

/****************************************************  Night Light Effect  **************************************************/

.contact.dark .contact-content {
  background-color: var(--night-light-dark-color);
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.contact.dark {
  background-color: var(--background-color);
}

.contact.dark .contact-form .input-box label i {
  color: var(--first-color);
}

.contact.dark .contact-form .input-box input {
  outline: none;
  color: var(--first-color);
  border-color: var(--first-color);
}

.contact.dark .contact-form span {
  font-size: 14px;
  color: var(--first-color);
}

.contact.dark .contact-form .input-box textarea {
  outline: none;
  color: var(--first-color);
  border-color: var(--first-color);
}
